/* https://docs.emmet.io/cheat-sheet/ */
/* Tuto emmet pour css */ 

/* w:100 */
width: 100px;
/* h:250 */
height: 250px;

/* ml:20 */
margin-left: 20px;

/* d:n */
display: none;

/* s:n */
font-style: normal;

/* p:a */
position: absolute;

/* bg:#ff0 */
background: #ff0;

/* etc... */
